extends layout

block content
h1 JSMpeg Streaming Service.
h3 Welcome to #{title}
h1(style='color: #C6422D') #{errorMsg}

  body
    canvas#video-canvas1
    script(type='text/javascript', src='/javascripts/jsmpeg.js')
    script(type='text/javascript').
      var canvas1 = document.getElementById('video-canvas1');
      var wsUrl = !{JSON.stringify(url)};
      var player1 = new JSMpeg.Player(wsUrl, {canvas: canvas1});
